<div class="container main-container">
  <div clas="position relative align-middle">
    <div class="card position-absolute top-50 start-50 translate-middle p-4">
      <div class="mx-5">
        <h5 class="card-title text-center">Login</h5>
      </div>
      <div class="text-center my-4">
        <fa-icon [icon]="faUser" size="6x"></fa-icon>
      </div>
      <div class="my-1">
        <label class="form-label">e-mail</label>
        <input class="form-control"/>
      </div>
      <div class="my-1">
        <label class="form-label">senha</label>
        <input type="password" class="form-control"/>
      </div>
    </div>
  </div>
</div>